html
    head
        title Detail View
        link(href='/components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        script(src='/components/d3/d3.js')
        script(src='/components/jquery/dist/jquery.js')
        require('bootstrap')

    body
        h1 Detail View
            div Hey Raj
                div This is whack
