html
    head
        title= title
        link(href='/components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        link(href='/css/site.css', rel='stylesheet')
        script(src='/components/d3/d3.js')
        script(src='/components/jquery/dist/jquery.js')
        script(src='/js/site.js')
        script(src='/components/datatables.net/js/jquery.dataTables.js')
        //link(href='http://cdn.datatables.net/plug-ins/1.10.13/sorting/datetime-moment.js')
        link(href='/components/datatables.net-dt/css/jquery.dataTables.css', rel='stylesheet')
        script(src='/components/moment/moment.js')
        script(src='/js/datetime-moment.js')
        script.
            $(document).ready(function () {
                $.fn.dataTable.moment('MMM D, YYYY h:mma');

                $('#example').DataTable({
                    data:!{JSON.stringify(tweets)} ,
                    columns: [
                        {
                            data: "user.screen_name"
                        },
                        {
                            data: "created_at",
                            render: function (data, type, row) {
                                return moment(data, "MMM D, YYYY h:mma");
                            },
                            type: 'date'
                        },
                        {
                            data: "text",
                            render: function (data, type, row) {
                                var url = "/detail/" + row["id"];
                                return "<a href='" + url + "'>" + row["text"] + "</a";}
                        }
                    ],
                    displayLength: 500
                });
            });
        require('bootstrap')

    body
        h1 All Tweets
            table(id="example", class="display", width="100%")
