html
    head
        title= title
        link(href='/components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        script(src='/components/d3/d3.js')
        script(src='/components/jquery/dist/jquery.js')
        require('bootstrap')

    body
        h1= message
        ol
            each tweet in tweets
                li=tweet.text

