html
    head
        title= title
        link(href='/components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        link(href='/css/site.css', rel='stylesheet')
        script(src='/components/d3/d3.js')
        script(src='/components/jquery/dist/jquery.js')
        script(src='/js/site.js')
        script(src='/components/datatables.net/js/jquery.dataTables.js')
        script(src='/components/datatables.net/js/dataTables.datetime-moment.js')
        link(href='/components/datatables.net-dt/css/jquery.dataTables.css', rel='stylesheet')
        link(href='/components/datatables.net-dt/css/jquery.dataTables.css', rel='stylesheet')
        script(src='/components/moment/moment.js')
        script.
            $(document).ready(function () {
                console.log("document ready is active");
                $('#example').DataTable({
                    data:!{JSON.stringify(tweets)} ,
                    columns: [
                        {
                            data: "user.screen_name"
                        },
                        {
                            data: "created_at",
                            render: function (data, type, row) {
                                return moment(data).format('MMM D, YYYY h:mma');
                            }
                        },
                        {
                            data: "text",
                            render: function (data, type, row) {
                                var url = "/detail/" + row["id"];
                                return "<a href='" + url + "'>" + row["text"] + "</a";}
                        }
                    ],
                    displayLength: 100
                });
            });
        require('bootstrap')

    body
        h1 All Tweets
            table(id="example", class="display", width="100%")
                //span(class="listing") #{tweet.user.screen_name}
                //span(class="listing")
                        a(href="/detail" + "/" + tweet.id)=tweet.text
